bin/
obj/
/.vs/App_QLPK/CopilotIndices/17.14.1700.50054
/.vs/App_QLPK.slnx/config/applicationhost.config
/.vs/App_QLPK.slnx/DesignTimeBuild
/.vs/App_QLPK.slnx/FileContentIndex
/.vs/App_QLPK.slnx/v17
/.vs/ProjectEvaluation
/.vs/ProjectQLPK_WebApi/v17
/App_QLPK.slnLaunch.user
/WebApi/WebApi.csproj.user
/.vs/VSWorkspaceState.json
